.header {
    background-color:AliceBlue;
    width:120%;
    height:55px;
    margin-top:-1%;
    margin-left:-1%;
    margin-right:-1%;
    padding:0px;
    position:relative;
}

#header h1, #header p, #header h3 {
    display:inline;
}

#header h1 {
    position:absolute; top:20%; height:5em; margin-top:-5em
    font-family:sans-serif;
    font-size:20px;
}

#loginArea {
    background-color:WhiteSmoke;
    width:550px;
    margin-left:30%;
    margin-top:10%;
    padding:1%;
}

#loginArea .label {
    font-family:sans-serif;
    font-size:20px;
    font-weight:bold;
}

#loginArea .field {
    font-family:sans-serif;
    font-size:20px;
    width:400px;
}

#loginArea .loginButton {
    font-family:sans-serif;
    font-size:20px;
    background-color:DarkGrey;
    color:White;
    margin-top:5%;
    margin-left:40%;
}